In [1]:
import pandas as pd

In [2]:
#create csv with pandas
month =['Januari','Febuari','Mars','April','Maj','Juni','Juli',
        'Augusti','September','Oktober','November','December',]
temp = [0.5,0.9,4.1,5.6,11.5,18.1,18.4,19.8,12.2,10.1,5.5,-1.4]
normal = [-0.9,-1.0,1.7,6.3,11.4,15.7,18.6,17.7,13.1,7.7,3.6,0.6]
hight = [4.1,4.3,4.8,9.1,16.1,19.3,22.5,21.2,16.0,11.0,7.1,4.9]
low =[-11.2,10.8,-6.5,0.8,5.7,10.4,13.7,12.9,8.5,3.8,-1.8,-6.9]
diftn =[-0.4,-0.1,2.4,-0.7,0.1,2.4,-0.2,2.1,-0.9,2.4,1.9,-2.0]
diftm =[0.0,0.4,3.2,1.5,5.9,6.6,0.3,1.4,-7.6,-2.1,-4.6,-4.1,]
difnm =[0.0,0.1,0.7,4.6,5.1,4.3,2.9,-0.9,-4.6,-5.4,-4.1,-3.0]
hight23 =[0.9,1.0,6.5,6.3,11.6,20.5,18.6,21.9,13.1,12.5,7.4,0.6,]
low23 =[0.1,0.8,1.7,4.9,11.4,15.7,18.2,17.7,11.3,7.7,3.6,-3.4]

csv = pd.DataFrame({'Month':month,'temperature':temp,'Normal_91-20':normal,'Hightest_91-20':hight,
                   'Lowest_91-20':low, 'diff_temp-normal':diftn, 'diff_temp-month':diftm,
                   'diff_normal-month':difnm, 'hightest_23':hight23, 'lowest_23':low})
csv

,Month,temperature,Normal_91-20,Hightest_91-20,Lowest_91-20,diff_temp-normal,diff_temp-month,diff_normal-month,hightest_23,lowest_23
0,Januari,0.5,-0.9,4.1,-11.2,-0.4,0.0,0.0,0.9,-11.2
1,Febuari,0.9,-1.0,4.3,10.8,-0.1,0.4,0.1,1.0,10.8
2,Mars,4.1,1.7,4.8,-6.5,2.4,3.2,0.7,6.5,-6.5
3,April,5.6,6.3,9.1,0.8,-0.7,1.5,4.6,6.3,0.8
4,Maj,11.5,11.4,16.1,5.7,0.1,5.9,5.1,11.6,5.7
5,Juni,18.1,15.7,19.3,10.4,2.4,6.6,4.3,20.5,10.4
6,Juli,18.4,18.6,22.5,13.7,-0.2,0.3,2.9,18.6,13.7
7,Augusti,19.8,17.7,21.2,12.9,2.1,1.4,-0.9,21.9,12.9
8,September,12.2,13.1,16.0,8.5,-0.9,-7.6,-4.6,13.1,8.5
9,Oktober,10.1,7.7,11.0,3.8,2.4,-2.1,-5.4,12.5,3.8
10,November,5.5,3.6,7.1,-1.8,1.9,-4.6,-4.1,7.4,-1.8
11,December,-1.4,0.6,4.9,-6.9,-2.0,-4.1,-3.0,0.6,-6.9

In [6]:
csv.to_csv("temp2022.csv")